<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/testModelAttribute" method="post">
    <label><input type="hidden" name="id" value="1"></label>
    <br>
    <label>UserName: <input type="text" name="userName" value="Tom"></label>
    <br>
<!--    <label>Password: <input type="password" name="password" value="123456"></label>-->
    <br>
    <label>Email: <input type="text" name="email" value="a@heng.com"></label>
    <br>
    <label>Age: <input type="text" name="age" value="12"></label>
    <br>
    <label><input type="submit" value="提交"></label>
</form>
</body>
</html>